---
import CompatibilityList from "~/components/compatibility-list.astro";
import ContentSection from "~/components/content-section.astro";
import type { CompatibilityItem } from "~/types";

const frameworks: Array<CompatibilityItem> = [
  {
    title: "React",
    icon: "frameworks/react",
    url: "https://react.dev",
  },
  {
    title: "Next",
    icon: "frameworks/next",
    url: "https://nextjs.org",
  },
  {
    title: "React Native",
    icon: "frameworks/react",
    url: "https://reactnative.dev",
  },
  {
    title: "Node",
    icon: "frameworks/node",
    url: "https://nodejs.org/en",
  },
  {
    title: "Swift",
    icon: "frameworks/swift",
    url: "https://www.apple.com/br/swift/",
  },
  {
    title: "Python",
    icon: "frameworks/python",
    url: "https://www.python.org",
  }
];

const platforms: Array<CompatibilityItem> = [
  {
    title: "Blume",
    icon: "platforms/blume",
    url: "https://www.blumetelecom.com.br/index.php",
  },
  {
    title: "OesteTI",
    icon: "platforms/oesteti",
    url: "http://www.oesteti.com.br",
  },
  {
    title: "Agencia GS",
    icon: "platforms/agenciags",
    url: "https://www.agenciags.com",
  },
  {
    title: "Render",
    icon: "platforms/render",
    url: "https://render.com/",
  },
  {
    title: "GitHub",
    icon: "fa-brands:github",
    url: "https://pages.github.com/",
  },
  {
    title: "GitLab",
    icon: "fa-brands:gitlab",
    url: "https://docs.gitlab.com/ee/user/project/pages/",
  },
];
---

<ContentSection title="Nossos clientes" id="compatibility">
  <Fragment slot="lead">
    <span class="text-primary">Empresas</span> que fazem{" "}
    parte da nossa
    <span class="text-primary">história</span>.
  </Fragment>
  <CompatibilityList
  items={platforms}
  title="Clientes"
  url="https://docs.astro.build/guides/deploy/"
  />
  <!-- <CompatibilityList
    items={frameworks}
    title="Tecnologias"
    url="https://docs.astro.build/core-concepts/framework-components/"
  /> -->
</ContentSection>
