---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
import type { FeatureItem } from "~/types";

const features: Array<FeatureItem> = [
  {
    title: "Desenvolvimento",
    description:
      "Oferecemos serviços de desenvolvimento personalizado para atender às necessidades específicas do seu negócio.",
    icon: "mdi:code-tags",
  },
  {
    title: "Sustentação",
    description:
      "Ofereçemos serviços de sustentação de sistemas e processos de seus produtos e soluções com metodologia e experiência",
    icon: "mdi:cog",
  },
  {
    title: "Projetos sob demanda",
    description:
      "Realizamos construção de projetos já idealizados com escopo bem definido o que é ideal para demandas específicas.",
    icon: "mdi:pencil-ruler",
  },
  {
    title: "Cloud & DevOps",
    description:
      "Facilitamos a adoção de tecnologias em nuvem e práticas DevOps, acelerando o desenvolvimento e melhorando a eficiência operacional.",
    icon: "mdi:cloud-outline",
  },
  {
    title: "Otimização SEO",
    description:
      "Usamos estratégias eficazes para aumentar o tráfego orgânico, melhorar as classificações de pesquisa e aumentar a presença online da sua empresa.",
    icon: "mdi:web",
  },
  {
    title: "Automação - RPA",
    description:
      "Com o uso de software inteligente, automatizamos processos, aumentando a eficiência, a precisão e reduzindo os custos operacionais.",
    icon: "mdi:robot",
  },
];
---

<ContentSection title="Nossos serviços" id="features">
  <Fragment slot="lead">
    Com uma equipe de <span class="text-primary">especialistas talentosos</span> e 
    <span class="text-primary">apaixonados</span> oferecemos uma ampla 
    gama de <span class="text-primary">serviços personalizados</span>.
  </Fragment>
  <ul class="grid max-w-6xl grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    {
      features.map(({ title, description, icon }) => (
        <li class="flex flex-col items-center gap-4 border border-default bg-offset p-6">
          <div class="h-16 w-16 rounded-full border-2 border-current p-3">
            <Icon name={icon} />
          </div>
          <p class="text-center font-extrabold text-xl">{title}</p>
          <p class="text-center text-offset text-sm">{description}</p>
        </li>
      ))
    }
  </ul>
</ContentSection>
