---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="Nós potencializamos" id="intro">
  <Icon slot="eyebrow" name="logomark" class="h-32" />
  <Fragment slot="lead">
    Conecte seu sucesso com nossa expertise.
    <span class="text-primary">Desenvolvimento</span>,
    <span class="text-primary">sustentação</span> e
    <span class="text-primary">soluções sob-medida</span> 
    para sua empresa liderar na era da 
    <span class="text-primary">tecnologia</span>.
  </Fragment>
  <div class="grid grid-cols-1 gap-2 sm:grid-cols-2">
    <a
      href="#showcase"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon pack="mdi" name="telescope" class="h-8" />
      <span>Showcase</span>
    </a>
    <a
      href="https://wa.me/5534992636947"
      target="_blank"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon pack="mdi" name="rocket" class="h-8" />
      <span>Entrar em contato</span>
    </a>
  </div>
</ContentSection>
